*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Text editors/IDEs
.vscode
__debug_bin
.idea

# Env files
*.env